.quiz{
    height:100vh;
    max-height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        z-index: 1;
        margin-top: 10px;
        

        .round{
            background-color: bisque;
            font-size: 35px;
            font-weight: 650;
            margin: 0px;
            padding: 0px;
        }

        .score{
            background-color: blue;
            height: 80px;
            width: 180px;
            border-style: solid;
            border: 10px solid brown;
            margin-bottom: 15px;
            /* padding: 10px; */
        }
    }

    .board{
        display: flex;
        flex-direction: column;
        align-items: center;
      
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columns */
            gap: 10px; /* Space between the boxes */
            padding: 15px;
            width: 700px; /* Adjust the width to fit your needs */
            background-color: brown;
            position: relative;
          }
          
          /* Box style with borders */
          .box {
            background-color: #00aaff; /* Light blue background */
            /* background: rgba(255, 0, 0, .3); */
            background: linear-gradient(rgb(0, 170, 255), rgb(0, 68, 102));
            color: white;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px; /* Adjust the height */
            border: 3px solid white; /* Border color */
            border-radius: 8px; /* Rounded corners */
            box-shadow: 0 0 6px 6px rgba(0, 0, 0, 3);
            text-align: center;
        }

        .multi-border {
            position: absolute;
            border: 12px solid #ffffcc;
            /* padding: 10px; */
          }
/*           
          .multi-border::before,
          .multi-border::after {
            content: '';
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            border: 15px solid red;
            z-index: -1;
          }
           */
          .multi-border::after {
            content: '';
            position: absolute;
            top: -12px;
            left: -12px;
            right: -12px;
            bottom: -12px;
            border: 5px solid #331a00 ;
          }
          
    

        .ans{
            background-color: black;
            height: 300px;
            width: 600px;

            

        }


        

    }


    




}