.score{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 180px;
    border-style: solid;
    border: 10px solid #663300;
    margin-bottom: 15px;
    border-radius: 10px;
    z-index: 2;
    color: black;
    font-size: 70px;
    font-weight: bold;
    /* padding: 10px; */
    
    background-image: radial-gradient(rgba(255, 255, 255, 0.163) 60%, transparent 10%);
    background-size: 20px 20px; 
    /* padding-top: 10px; */
    cursor: pointer;
  
    
}

.rectangle-left .score,
.rectangle-right .score {
    /* font-size: 2rem;  */
    font-weight: bold; /* Make the text bold */
    color: white; /* Set text color */
    text-align: center; /* Center-align the text */
    display: flex; /* Flex container for centering */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    width: 100%; /* Make sure Score spans the full container */
    height: 100%; /* Make sure Score spans the full container */ /* Keep the background transparent */
    border: none; /* Remove any borders */
    box-shadow: none; /* Remove shadows if present */
    cursor: pointer;
}


.team-name-left-container .score,
.team-name-right-container .score{
    font-weight: bold; /* Make the text bold */
    color: white; /* Set text color */
    text-align: center; /* Center-align the text */
    display: flex; /* Flex container for centering */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    width: 100%; /* Make sure Score spans the full container */
    height: 100%; /* Make sure Score spans the full container */ /* Keep the background transparent */
    border: none; /* Remove any borders */
    box-shadow: none; /* Remove shadows if present */
    cursor: pointer;
    font-size: 50px;
}




