.board{
   position: relative;
   width: 100%; /* The width of the board fills the parent container */
   min-height: 100vh; /* Ensure the board takes up at least the full viewport height */
   overflow: visible;
   min-width: 1200px;
}

.oval{
    width: 56.25rem; /* Width of the oval */
    height: 44.75rem; /* Height of the oval */
    border-radius: 50%; /* Makes it oval-shaped */
    position: absolute; /* Positioning the oval absolutely inside the Board */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust to perfectly center the oval */
    border: 10px solid gold;
    background:radial-gradient(circle, white  10%, transparent 40%),black;
    background-size: 17px 17px;
}

.rectangle-left {
    width: 140px; /* Width of the rectangle */
    height: 150px; /* Height of the rectangle */
    position: absolute; /* Position it relative to the board */
    top: 50%; /* Vertically center it with the oval */
    left: calc(50% - 587px); /* Position to the left of the oval */
    transform: translateY(-50%); /* Adjust to perfectly center vertically */
    border-left: 10px solid gold;
    border-top: 10px solid gold;
    border-bottom: 10px solid gold;
    background:radial-gradient(circle, white  10%, transparent 40%),black;
    background-size: 17px 17px;
}
  
  /* Rectangle on the right of the oval */
.rectangle-right {
    width: 140px; /* Width of the rectangle */
    height: 150px; /* Height of the rectangle */
    position: absolute; /* Position it relative to the board */
    top: 50%; /* Vertically center it with the oval */
    left: calc(50% + 438px); /* Position to the right of the oval */
    transform: translateY(-50%); /* Adjust to perfectly center vertically */
    border-right: 10px solid gold;
    border-top: 10px solid gold;
    border-bottom: 10px solid gold;
    background:radial-gradient(circle, white  10%, transparent 40%),black;
    background-size: 17px 17px;
}

