.quiz{
    height:90%;
    /* max-height:90%; */
    width:96%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, 1fr) ;
    grid-auto-flow: column;
    grid-gap: 15px;
    margin: 0 auto;
    /* flex-direction: column; */
    
}

.quiz-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card {
    /* 
    background: linear-gradient(rgb(0, 170, 255), rgb(0, 51, 77));
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 60px; Adjust the height
    border: 3px solid white; Border color
    border-radius: 8px; Rounded corners
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 3);
    text-align: center;
    cursor: pointer; */
    
    /* width: 150px;
    height: 60px; */
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    aspect-ratio: 10 / 1;
    pointer-events: auto;
    transform-style: preserve-3d;
    transition: transform 0.6s; 
    /* width: 150px; 
    height: 200px;  */

    &.flipped{
        transform: rotateY(180deg); /* Flip the card */
    }

}

.card-front,
.card-back {
    position: absolute;
    
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgb(0, 170, 255), rgb(0, 51, 77));
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 53px; 
    border: 3px solid white; 
    border-radius: 8px;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 3);
    text-align: center;
    cursor: pointer; 
    justify-content: space-around;
    
  
}

.card-front {
    /* position: absolute; */
    background: linear-gradient(to bottom, #0072ff, #00c6ff); /* Blue gradient */
}
  
.card-back {
    display: flex;
    background: linear-gradient(to bottom, #f9a825, #ff6f00); 
    transform: rotateY(180deg); /* Initially hidden */
    
  }
  


.multi-border {
    position: absolute;
    border: 12px solid #ffffcc;
    /* padding: 10px; */
  }

.multi-border::after {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 5px solid #331a00 ;
}

.score-box {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}